<div class="gamecard-container">
    <div>
        <div *ngFor="let mainitem of mainitems">
            <riot-games-main-card image={{mainitem.image}} logo={{mainitem.logo}} description={{mainitem.description}}>Loading...</riot-games-main-card>
        </div>
    </div>
</div>

<div class="gamecard-container">
    <div>
        <div *ngFor="let smallitem of smallitems">
            <riot-games-small-card image={{smallitem.image}} logo={{smallitem.logo}}>Loading...</riot-games-small-card>
        </div>
    </div>
</div>
