.CardDescription{
    font-size: 1em;
    font-family: 'Mark Pro',Arial,sans-serif;
    text-align: left;
    pointer-events: none;
    color: white;
}

.CardContent{
    position: absolute;
    left: 0;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 100%;
    pointer-events: none;
}