<div class="LargeGameCard card">
    <div class="card-body">
        <img src="assets/val-neon-card-bg-1800.jpg" class="card-img" alt="VALORANT Picture">
    </div>

    <div class="GameCardContent">
        <img src="assets/valorant-logotype.png" alt="VALORANT Logo">
        <p class="GameCardDescription">A 5V5 CHARACTER-BASED TACTICAL SHOOTER</p>
    </div>
    
</div>

<div class="SmallGameCard card">
    <div class="card-body">
        <img src="assets/tft-card-bg-1800.jpg" class="card-img" alt="TeamFight Tactics Picture">
    </div>
</div>