<div class="navbar">

  <img src="assets/riotgames.fist.png" >
  <a routerLink="press">Press</a>
  <a routerLink="security">Security</a>
  <a routerLink="legal">Legal</a>
  <a routerLink="leadership">Leadership</a>
  <a routerLink="candidate-privacy">Candidate Privacy</a>
  <a routerLink="terms-of-service">Terms of Service</a>
  <a routerLink="privacy-notice">Privacy Notice</a>
  <a hrouterLink="player-support">Player Support</a>
  <a routerLink="e-verify">E-Verify</a>
  <a routerLink="accessibility">Accessibility</a>

</div> 