<div class="navbar">

  <img src="assets/riotgames.fist.png" alt="">
  <a routerLink="Press">Press</a>
  <a routerLink="Security">Security</a>
  <a routerLink="Legal">Legal</a>
  <a routerLink="Leadership">Leadership</a>
  <a routerLink="Candidate Privacy">Candidate Privacy</a>
  <a routerLink="Terms of Service">Terms of Service</a>
  <a routerLink="Privacy Notice">Privacy Notice</a>
  <a hrouterLink="Player Support">Player Support</a>
  <a routerLink="E-Verify">E-Verify</a>
  <a routerLink="Accessibility">Accessibility</a>

</div> 