<div class="navbar">
  
  <img src="assets/riotgames.fist.png" alt="">
  <a href="#Press">Press</a>
  <a href="#Security">Security</a>
  <a href="#Legal">Legal</a>
  <a href="#Leadership">Leadership</a>
  <a href="#Candidate Privacy">Candidate Privacy</a>
  <a href="#Terms of Service">Terms of Service</a>
  <a href="#Privacy Notice">Privacy Notice</a>
  <a href="#Player Support">Player Support</a>
  <a href="#E-Verify">E-Verify</a>
  <a href="#Accessibility">Accessibility</a>
  <a href=""></a>

</div> 