<nav class="navbar">
  <div id="navbar">
    <img src="assets/riotgames.logo.png" alt="">

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">WHO WE ARE
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">WORK WITH US
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </li>

    <a href="#news">News</a>
    <img src="assets/globe2.svg" alt="">


    <div class="d-flex">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="SEARCH">
          <span class="input-group-text">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#search" />
            </svg>
          </span>
        </div>
      </form>
      <button class="btn btn.signin btn-danger m-4" type="submit">SIGN IN</button>
    </div>
  </div>
</nav>