<nav class="navbar navbar-expand sticky-top">
  <div id="navbar">
    <img src="assets/riotgames.logo.png" class="flex" alt="">
    <img src="assets/whiteriotfist.png" class="p-8" height="32px"  alt="">

    <li class="nav-item dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" id="WhoDropMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">WHO WE ARE
        <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="WhoDropMenu">
        <li class="nav-item"><a class="nav-link-active" href="#"></a>ABOUT RIOT</li>
        <li class="nav-item"><a class="nav-link-active" href="#"></a>DIVERSITY AND INCLUSION</li>
        <li class="nav-item"><a class="nav-link-active" href="#"></a>SOCIAL IMPACT</li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" id="WorkDropMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">WORK WITH US
        <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="WorkDropMenu">
        <li class="nav-item"><a class="nav-link-active" href="#">JOBS</a></li>
        <li class="nav-item"><a class="nav-link-active" href="#">OFFICES</a></li>
        <li class="nav-item"><a class="nav-link-active" href="#">LIFE AT RIOT</a></li>
      </ul>
    </li>

    <a href="#news">News</a>
    <img src="assets/globe2.svg" alt="">


    <div class="d-flex">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="SEARCH">
          <span class="input-group-text">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#search" />
            </svg>
          </span>
        </div>
      </form>
      <button class="btn btn.signin btn-danger m-4" type="submit">SIGN IN</button>>
    </div>
  </div>
</nav>